/* Estilo del cuerpo de la página */
.mapa-b {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo del contenedor del mapa */
#map {
    height: calc(95vh - 50px); /* Ajusta la altura del mapa para dejar espacio para el título */
}

/* Estilo del título */
header{
    display: block; /* Hace que el enlace se comporte como un bloque */
    background-color: #1d5b99; /* Cambia el color de fondo */
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#titulo {
    color: #fff; /* Cambia el color del texto */
    margin: 0;
    text-decoration: none; /* Quita la decoración de subrayado del enlace */
}

#titulo:hover {
    background-color: #0f6fc4; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
    border-radius: 10px;
}
#cuadro {
    position: fixed;
    top: 0;
    left: -35%; /* Inicialmente fuera de la pantalla */
    width: 25%; /* Ocupa un cuarto de la pantalla */
    height: 100vh;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 999; /* Asegura que el cuadro esté sobre otros elementos */
    padding: 20px;
    transition: left 0.3s ease; /* Agregamos transición para el movimiento */
}

/* Modificaciones para el control de zoom */
.leaflet-control-zoom.leaflet-control.leaflet-bar {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior de la pantalla */
    right: 20px; /* Ajusta la distancia desde el borde derecho de la pantalla */
    z-index: inherit; /* Establece el z-index al nivel del mapa */

}


div.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #fff;
    width: 200px;
    max-width: 300px; /* Ancho máximo del pop-up */
}

div.leaflet-popup-content-wrapper *  {
    margin: 0;
}


.leaflet-popup-content-wrapper .popup-image {
    width: 150%;
    border-radius: 4px 4px 0 0; /* Bordes redondeados solo en la parte superior */
}

.leaflet-popup-content-wrapper h3,
.leaflet-popup-content-wrapper h3.nom,
.leaflet-popup-content-wrapper h3.ubi {
    padding: 12px;
    margin: 0;
    color: #fff;
}

.leaflet-popup-content-wrapper h3.nom {
    background-color: #6989a8;
    font-size: 16px;
}

.leaflet-popup-content-wrapper h3.ubi {
    background-color: #2965a0;
    font-size: 12px;
}
div.leaflet-popup-tip{
   background-color: #2965a0; 
}

